// colors
$name-c: #334253;
$post-c: var(--Grayish-Blue, #67727e);
$reply-c: var(--Moderate-Blue, #5357b6);
$delete-c: var(--Soft-Red, #ed6368);
$bg-c: var(--Very-Light-Gray, #f5f6fa);
$container-c: #ffffff;
