@import "../styles/variables.scss";
.head-content {
  display: flex;
  align-items: center;
  justify-content: left;
  column-gap: 10px;
}
.user-name {
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.post-time {
  color: var(--Grayish-Blue, #67727e);
  font-feature-settings: "clig" off, "liga" off;

  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.post-content {
  margin-top: 5px;
  color: var(--Grayish-Blue, #67727e);
  font-feature-settings: "clig" off, "liga" off;

  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
